/**
 * typography.scss
 */
@import '_modules/vars';
@import '_modules/mixins';
@import 'compass/css3/font-face';


@include font-face('icomoon',
  font-files(
    '../../fonts/icomoon/fonts/icomoon.woff',
    '../../fonts/icomoon/fonts/icomoon.ttf',
    '../../fonts/icomoon/fonts/icomoon.svg'),
    '../../fonts/icomoon/fonts/icomoon.eot'
  );


.icon-star, .icon-twitter, .icon-github {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

  .icon-twitter:before { content: "\e000"; }
  .icon-github:before  { content: "\e001"; }
  .icon-star:before    { content: "\e002"; }


body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: $text-dark;

  // Set font sizes across breakpoints for readability 

                    font-size: $font-size-base *0.9375; /* 15px */
  @include mq($M) { font-size: $font-size-base;         /* 16px */ }
  @include mq($L) { font-size: $font-size-base *1.0625; /* 17px */ }
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $font-size-h1;   // 40px
  line-height:    get-multiplier(48, $font-size-h1);     // 48px equivalent line height
  padding-bottom: get-multiplier(16, $font-size-h1) +em; // 16px equivalent
}

h2 {
  font-size: $font-size-h2;   // 32px
  line-height:    get-multiplier(40, $font-size-h2);     // 40px equivalent line height
  padding-bottom: get-multiplier(8,  $font-size-h2) +em; //  8px equivalent
}

h3 {
  font-size: $font-size-h3;   // 24px
  line-height:    get-multiplier(32, $font-size-h3);     // 32px equivalent line height
  padding-bottom: get-multiplier(16, $font-size-h3) +em; // 16px equivalent
}

h4 {
  font-size: $font-size-h4;   // 20px
  line-height:    get-multiplier(24, $font-size-h4);    // 24px equivalent line height
  padding-top:    get-multiplier( 6, $font-size-h4) +em;//  6px equivalent
  padding-bottom: get-multiplier(18, $font-size-h4) +em;// 18px equivalent
}


p {
  margin: 0;
  padding: 0 0 $spacing;
}

ul, ol, dl {
  margin: 0;
  padding: 0 0 ($spacing /2);
}

ul, ol, dl { margin-left: $spacing; }

code { font-size: $font-size-base *0.9375; }
