/**
 * elements.scss
 */
@import '_modules/vars';
@import '_modules/mixins';


.container {
  overflow: hidden;
}

.btn {
  @include inline-block();
  color: $text-light;
  background: #555;
  margin: 0 .1em;
  padding: .2em .5em;

  -webkit-border-radius: 9px;
  border-radius: 9px;

  @include link-each-pseudo-element($text-light, $text-light, $text-light, $text-light);
  &:hover { background: $link-dark; }
}
