/**
 * typography.scss
 */
@font-face {
  font-family: "icomoon";
  src: url('fonts/../../fonts/icomoon/fonts/icomoon.eot');
  src: url('fonts/../../fonts/icomoon/fonts/icomoon.eot?#iefix') format('eot'), url('fonts/../../fonts/icomoon/fonts/icomoon.woff') format('woff'), url('fonts/../../fonts/icomoon/fonts/icomoon.ttf') format('truetype'), url('fonts/../../fonts/icomoon/fonts/icomoon.svg') format('svg');
}

/* line 18, ../sass/01._typography.scss */
.icon-star, .icon-twitter, .icon-github {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 29, ../sass/01._typography.scss */
.icon-twitter:before {
  content: "\e000";
}

/* line 30, ../sass/01._typography.scss */
.icon-github:before {
  content: "\e001";
}

/* line 31, ../sass/01._typography.scss */
.icon-star:before {
  content: "\e002";
}

/* line 34, ../sass/01._typography.scss */
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #43403b;
  font-size: 0.9375em;
  /* 15px */
}
@media (min-width: 45em) {
  /* line 34, ../sass/01._typography.scss */
  body {
    font-size: 1em;
    /* 16px */
  }
}
@media (min-width: 72em) {
  /* line 34, ../sass/01._typography.scss */
  body {
    font-size: 1.0625em;
    /* 17px */
  }
}

/* line 47, ../sass/01._typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* line 54, ../sass/01._typography.scss */
h1 {
  font-size: 2.5em;
  line-height: 1.2;
  padding-bottom: 0.4em;
}

/* line 60, ../sass/01._typography.scss */
h2 {
  font-size: 2em;
  line-height: 1.25;
  padding-bottom: 0.25em;
}

/* line 66, ../sass/01._typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1.33333;
  padding-bottom: 0.66667em;
}

/* line 72, ../sass/01._typography.scss */
h4 {
  font-size: 1.25em;
  line-height: 1.2;
  padding-top: 0.3em;
  padding-bottom: 0.9em;
  color: #5e5a53;
}

/* line 81, ../sass/01._typography.scss */
p {
  margin: 0;
  padding: 0 0 1.5em;
}

/* line 86, ../sass/01._typography.scss */
ul, ol, dl {
  margin: 0;
  padding: 0 0 0.75em;
}

/* line 91, ../sass/01._typography.scss */
p ul,
ul ul,
ol ul,
p ol,
ul ol,
ol ol {
  padding-bottom: 0;
}

/* line 99, ../sass/01._typography.scss */
ul, ol, dl {
  margin-left: 1.5em;
}

/* line 102, ../sass/01._typography.scss */
.list-padded ul,
.list-padded ol {
  padding-top: 0.75em;
  margin-bottom: -0.75em;
}
/* line 107, ../sass/01._typography.scss */
.list-padded li {
  padding-bottom: 0.75em;
}

/* line 110, ../sass/01._typography.scss */
code {
  font-size: 0.9375em;
}

/* line 112, ../sass/01._typography.scss */
strong {
  color: #5e5a53;
}
