/**
 * elements.scss
 */
/* line 8, ../sass/02._elements.scss */
.container {
  overflow: hidden;
}

/* line 12, ../sass/02._elements.scss */
.btn {
  display: inline-block;
  *display: block;
  *zoom: 1;
  color: #cccccc;
  background: #555;
  margin: 0 .1em;
  padding: .2em .5em;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
/* line 70, ../sass/_modules/_mixins.scss */
.btn:link {
  color: #cccccc;
}
/* line 71, ../sass/_modules/_mixins.scss */
.btn:visited {
  color: #cccccc;
}
/* line 72, ../sass/_modules/_mixins.scss */
.btn:hover {
  color: #cccccc;
}
/* line 73, ../sass/_modules/_mixins.scss */
.btn:active {
  color: #cccccc;
}
/* line 23, ../sass/02._elements.scss */
.btn:hover {
  background: #3b5997;
}
