/**
 * elements.scss
 */
/* line 9, ../sass/02._elements.scss */
p.description {
  padding-top: 1.125em;
  padding-bottom: 0;
}

/* line 16, ../sass/02._elements.scss */
.container {
  overflow: hidden;
}

/* line 20, ../sass/02._elements.scss */
.callout,
.highlight {
  font-size: 1.25em;
  line-height: 1.2;
  color: #5e5a53;
  text-align: center;
  /*@include mq($L) {*/
  /*font-size: 0.9 * $font-size-base;*/
  /*}*/
}
/* line 30, ../sass/02._elements.scss */
.callout .icon,
.highlight .icon {
  font-size: 1.6em;
}

/* line 37, ../sass/02._elements.scss */
.btn {
  display: inline-block;
  *display: block;
  *zoom: 1;
  color: #bfbeb3;
  background: #555;
  margin: 0 .1em;
  padding: .2em .5em;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
/* line 70, ../sass/_modules/_mixins.scss */
.btn:link {
  color: #bfbeb3;
}
/* line 71, ../sass/_modules/_mixins.scss */
.btn:visited {
  color: #bfbeb3;
}
/* line 72, ../sass/_modules/_mixins.scss */
.btn:hover {
  color: #bfbeb3;
}
/* line 73, ../sass/_modules/_mixins.scss */
.btn:active {
  color: #bfbeb3;
}
/* line 50, ../sass/02._elements.scss */
.btn:hover {
  background: #6a912d;
}
