/**
 * elements.header.nav.scss
 */
/* line 8, ../sass/02.elements.header.nav.scss */
#menu-toggle {
  float: right;
  font-weight: bold;
  color: #bfbeb3;
  margin: 1.5em;
}
/* line 70, ../sass/_modules/_mixins.scss */
#menu-toggle:link {
  color: #bfbeb3;
}
/* line 71, ../sass/_modules/_mixins.scss */
#menu-toggle:visited {
  color: #bfbeb3;
}
/* line 72, ../sass/_modules/_mixins.scss */
#menu-toggle:hover {
  color: #6a912d;
}
/* line 73, ../sass/_modules/_mixins.scss */
#menu-toggle:active {
  color: #6a912d;
}
@media (min-width: 72em) {
  /* line 8, ../sass/02.elements.header.nav.scss */
  #menu-toggle {
    display: none;
  }
}

/* line 20, ../sass/02.elements.header.nav.scss */
nav {
  float: left;
  background: #000;
  width: 100%;
}
/* line 25, ../sass/02.elements.header.nav.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 30, ../sass/02.elements.header.nav.scss */
nav li {
  display: inline-block;
  *display: block;
  *zoom: 1;
}
/* line 34, ../sass/02.elements.header.nav.scss */
nav a {
  display: inline-block;
  *display: block;
  *zoom: 1;
  color: #bfbeb3;
  padding: .3em .5em;
}
/* line 82, ../sass/_modules/_mixins.scss */
nav a:link {
  color: #bfbeb3;
}
/* line 83, ../sass/_modules/_mixins.scss */
nav a:visited {
  color: #bfbeb3;
}
/* line 84, ../sass/_modules/_mixins.scss */
nav a:hover {
  color: #a8a697;
}
/* line 85, ../sass/_modules/_mixins.scss */
nav a:active {
  color: #908f7c;
}
/* line 41, ../sass/02.elements.header.nav.scss */
nav a.nav-text-link {
  color: #6a912d;
}
/* line 43, ../sass/02.elements.header.nav.scss */
nav a.nav-text-link:hover {
  color: #506f1f;
}
