/**
 * elements.header.nav.scss
 */
/* responsive-nav.js v1.0.14 by @viljamis */
/* line 9, ../sass/02.elements.header.nav.scss */
#nav-toggle {
  float: right;
  font-weight: bold;
  color: #444444;
  margin: 1.5em 1.5em 0 0;
}
/* line 15, ../sass/02.elements.header.nav.scss */
#nav-toggle:hover {
  color: #3b5997;
}
@media (min-width: 35em) {
  /* line 9, ../sass/02.elements.header.nav.scss */
  #nav-toggle {
    display: none;
  }
}

/* line 23, ../sass/02.elements.header.nav.scss */
.js .header-page #nav-header {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

/* line 32, ../sass/02.elements.header.nav.scss */
.header-page #nav-header {
  width: 100%;
}
/* line 35, ../sass/02.elements.header.nav.scss */
.header-page #nav-header.opened {
  max-height: 9999px;
}
/* line 37, ../sass/02.elements.header.nav.scss */
.header-page #nav-header ul {
  background: #d5d5d5;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 44, ../sass/02.elements.header.nav.scss */
.header-page #nav-header li {
  display: block;
  border-top: 1px solid #c4c4c4;
  width: 100%;
}
/* line 50, ../sass/02.elements.header.nav.scss */
.header-page #nav-header a {
  display: block;
  padding: 0.75em 1.5em;
}

@media (min-width: 35em) {
  /* line 58, ../sass/02.elements.header.nav.scss */
  .js .header-page #nav-header {
    position: relative;
    float: right;
    max-height: none;
  }

  /* line 64, ../sass/02.elements.header.nav.scss */
  .header-page #nav-header {
    width: auto;
    padding: 1.5em 1.5em 0 0;
  }
  /* line 68, ../sass/02.elements.header.nav.scss */
  .header-page #nav-header li {
    float: left;
    border: 0;
    width: auto;
    margin-left: 1.5em;
  }
  /* line 75, ../sass/02.elements.header.nav.scss */
  .header-page #nav-header a {
    display: inline;
    padding: 0;
  }
}
