// _mixins.scss
//   and functions

// inline-block()
//   IE supported display:inline-block;
//   EXAMPLE:
//     @include inline-block();
// TODO: check if this is in Compass
@mixin inline-block() {
  display: inline-block;
  *display:block;*zoom:1; // IE support
}


// mq()
//   Media Queries
//   EXAMPLE: use the large breakpoint media query
//     @include mq($L) {}
@mixin mq($media-query) {
  @media ($media-query) { @content; }
}


// fixed-ratio()
//   Calculate fixed ratio based on two dimensions (width/height)
//     http://voormedia.com/blog/2012/11/responsive-background-images-with-fixed-or-fluid-aspect-ratios
//   EXAMPLE
//     @include fixed-ratio(800px 450px); // width height
@mixin fixed-ratio($size) {
  $width:  nth($size, 1);
  $height: nth($size, 2);
  $slope: $height / $width;

  padding-top: percentage($slope);

  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}


// fluid-ratio()
//   Calculate fluid ratio based on two dimensions (width/height)
//     http://voormedia.com/blog/2012/11/responsive-background-images-with-fixed-or-fluid-aspect-ratios
//   EXAMPLE
//     @include fluid-ratio(800px 200px, 300px 150px); // width height, width height
@mixin fluid-ratio($large-size, $small-size) {
  $width-large: nth($large-size, 1);
  $width-small: nth($small-size, 1);
  $height-large: nth($large-size, 2);
  $height-small: nth($small-size, 2);
  $slope: ($height-large - $height-small) / ($width-large - $width-small);
  $height: $height-small - $width-small * $slope;

  padding-top: percentage($slope);
  height: $height;

  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}


// link-each-pseudo-element()
//   Link Each Psuedo Element
//   NOTE: remember LVHA (link, visited, hover, active)
//   EXAMPLE
//     @include link-each-pseudo-element($link-dark, $link-dark, $link-dark-hover, $link-dark-hover);
@mixin link-each-pseudo-element($link, $visited, $hover, $active) {
  &:link    { color: $link; }
  &:visited { color: $visited; }
  &:hover   { color: $hover; }
  &:active  { color: $active; }
}


// link-all-pseudo-elements()
//   Link All Psuedo Elements
//   EXAMPLE
//     @include link-all-pseudo-elements($link-dark);
@mixin link-all-pseudo-elements($color) {
  &:link    { color: $color; }
  &:visited { color: $color; }
  &:hover   { color: darken($color, 10%); }
  &:active  { color: darken($color, 20%); }
}


// image-replacement()
//   Add image replacement technique
//     http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
//   EXAMPLE
//     @include image-replacement();
@mixin image-replacement() {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}


// strip-units()
//   Remove units from a Sass value with units (em, px, etc.)
//     http://stackoverflow.com/questions/12328259/how-do-you-strip-the-unit-from-any-number-in-sass#answer-12335841
//   EXAMPLE
//     strip-units($my-var);
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}


// get-multiplier()
//   Get the multiplier for the pixel value divided by the current/contextual font size
//   EXAMPLE
//     get-multiplier(24, $font-size-h4);
@function get-multiplier($px-value, $current-font-size) {
  @return ($px-value / strip-units($current-font-size * $vertical-rhythm-base));
  // EXAMPLE 30px /            (    3em               *          16px        )
  //         30px /                                  48px
  //                        = .625
}
